/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 26px;  /* Width of the scrollbar */
    height: 26px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Background of the scrollbar track */
    border-radius: 10px;  /* Rounding the track corners */
}

::-webkit-scrollbar-thumb {
    background-color: #001a82;  /* Scrollbar color (purple in this case) */
    border-radius: 10px;         /* Making the scrollbar rounder */
    border: 4px solid #f1f1f1;   /* Adding padding inside the scrollbar to make it oval */
}

/* Firefox */
* {
    scrollbar-width: 10px;
    scrollbar-arrow-color: #003d82;
    scrollbar-color: #005eff ;
}

/* Internet Explorer 10+ */
.scrollbar::-ms-scrollbar {
    width: 26px;
}

.scrollbar::-ms-scrollbar-thumb {
    background-color: #368200;
    border-radius: 10px;
    border: 10px solid #f1f1f1;
}

.scrollbar::-ms-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* General styles to apply the scroll bar styling */
.scrollbar {
    scrollbar-color: #b480da #f1f1f1;
    scrollbar-width: thick;
}

/* Inside your global CSS file */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
