/* HeroSection.css */
.hero-section {
  position: relative; /* Position relative for absolute positioning of video */
  height: 100vh; /* Full height */
  overflow: hidden; /* Hide overflow */
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  object-fit: cover; /* Ensure the video covers the entire screen */
  z-index: -1; /* Send the video behind other elements */
}

.hero-content {
  position: relative; /* Position relative to allow z-index layering */
  z-index: 1; /* Ensure content is above the video */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Full height for centering */
}

.hero-text {
  color: #fff; /* White text color for contrast against video */
  text-align: center; /* Centered text */
}

.hero-heading {
  font-size: 2.5rem;
}

.cta-button {
  background-color: #f9a826; /* Gold background */
  color: #000; /* Black text */
  padding: 10px 20px;
  border-radius: 5px;
}